#now_playing a.black {
    text-decoration: none;
    display: block;
    float: right;
    border: 0 none;
    margin-left: 5px;

    line-height: 12px;
    font-size: 28px;
    margin-top: 6px;
    color: #999;

}

#now_playing a.black:hover {  text-decoration: none; color: #666;}
#now_playing a.black.active { color: #222; }
#now_playing a.fav { margin-left: 5px; }
#now_playing li.track .amazon { margin-right: 46px !important; }